.card {
  width: 20rem;
  margin: 10px;
  background-color: black;
  color: white;
  border: 1px solid wheat;
}

.card img {
  height: 20rem;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* flex-direction: column; */
}


.col
{
  /* border: 2px solid black; */
  height: 85vh;
}

.summary-image {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.bsf-container {
  /* width: 80%; */
  height: 80vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bsf-container form input {
  width: 80vw;
  background:rgb(226, 224, 224)
}
.bsf-container form {
  display: flex;
  flex-direction: column;
}